# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01="ipq-wifi-jdcloud_re-ss-01 -kmod-ath11k-pci zram-swap  luci-app-cupsd"
#CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
#CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="ipq-wifi-jdcloud_re-cs-02 ath11k-firmware-qcn9074 kmod-ath11k-pci luci-app-athena-led luci-i18n-athena-led-zh-cn luci-app-cupsd"
#CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=y
#CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07="-ath11k-firmware-ipq6018 -kmod-ath11k -kmod-ath11k-ahb -kmod-ath11k-pci luci-app-dockerman luci-i18n-dockerman-zh-cn  luci-app-cupsd"
#CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_redmi_ax5-jdcloud=y
#CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_redmi_ax5-jdcloud="ipq-wifi-redmi_ax5-jdcloud -kmod-ath11k-pci zram-swap"
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y
#增加
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a+crc+crypto -mtune=cortex-a53 -mcpu=cortex-a53 -mfix-cortex-a53-835769 -mfix-cortex-a53-843419"
CONFIG_TOOLCHAINOPTS=y
CONFIG_GCC_USE_VERSION_13=y
CONFIG_GDB=n

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Swap
CONFIG_PACKAGE_zram-swap=m

# 增加NSS
CONFIG_IPQ_MEM_PROFILE_256=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_MEM_PROFILE_HIGH=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
CONFIG_PACKAGE_kmod-ath11k-pci=m
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y

CONFIG_NSS_DRV_IGS_ENABLE=y
CONFIG_NSS_DRV_L2TP_ENABLE=y
CONFIG_NSS_DRV_LAG_ENABLE=y
CONFIG_NSS_DRV_MAPT_ENABLE=y
CONFIG_NSS_DRV_PPTP_ENABLE=y
CONFIG_NSS_DRV_PVXLAN_ENABLE=y
CONFIG_NSS_DRV_SHAPER_ENABLE=y
CONFIG_NSS_DRV_VXLAN_ENABLE=y

CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-map-t=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-macsec=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
# CONFIG_PACKAGE_luci-proto-quectel=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
# 新增
CONFIG_PACKAGE_kmod-fs-cifs=y


#  USB Support
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2=y
#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-veth=y
#新增
CONFIG_PACKAGE_kmod-fs-btrfs=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Package
CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6
#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y

#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
#CONFIG_PACKAGE_luci-app-cupsd=m
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_EASYTIER_INCLUDE_WEBCONSOLE=n
CONFIG_PACKAGE_luci-app-istorex=y
#CONFIG_PACKAGE_luci-app-store=y
#CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-quickfile=y
#CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
#CONFIG_PACKAGE_luci-app-vlmcsd=y
#CONFIG_PACKAGE_luci-app-wol=y
#CONFIG_PACKAGE_luci-app-athena-led=m
#CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m

# 微力同步
CONFIG_PACKAGE_verysync=y
CONFIG_PACKAGE_luci-app-verysync=y

#补全linux系统管理指令
CONFIG_PACKAGE_sudo=y

# 多端网盘挂载alist
#CONFIG_PACKAGE_luci-app-alist=y
#CONFIG_PACKAGE_luci-app-openlist=y
#CONFIG_PACKAGE_luci-app-openlist2=y

# php8
CONFIG_PACKAGE_php8=y
CONFIG_PACKAGE_php8-cgi=y
CONFIG_PACKAGE_php8-mod-curl=y
# PHP8 intl扩展支持（需要ICU库）
CONFIG_PACKAGE_php8-mod-intl=y
# php-ICU库依赖
CONFIG_PACKAGE_libicu=y
CONFIG_LIBICU_ICU_TRANSITION=y
CONFIG_LIBICU_ICU_I18N=y
CONFIG_LIBICU_ICU_IO=y
CONFIG_LIBICU_ICU_UC=y

# ZeroTier内网穿透
CONFIG_PACKAGE_luci-app-zerotier=y

# 访问时间控制
#CONFIG_PACKAGE_luci-app-accesscontrol=y

# 提供网络设备的自动重启和断网检测功能
#CONFIG_PACKAGE_luci-app-watchcat=y

# 内核级文件共享
#CONFIG_PACKAGE_luci-app-ksmbd=y

# timecontrol 上网时间控制插件 - 上网时间控制NFT版2.0.2版==专门针对24.10分支，适配NFT的上网时间控制插件。
CONFIG_PACKAGE_luci-app-nft-timecontrol=y

# luci-app-taskplan 任务设置2.0版
CONFIG_PACKAGE_luci-app-taskplan=y

# 通用共享
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_webdav2=y
CONFIG_PACKAGE_unishare=y
CONFIG_PACKAGE_luci-app-unishare=y

# sunpanel NAS导航面板
#CONFIG_PACKAGE_sunpanel=y
#CONFIG_PACKAGE_luci-app-sunpanel=y

# memos 随手记
#CONFIG_PACKAGE_luci-app-memos=y

# 内核级驱动，性能高	功能较少（如不支持加密/压缩）	需要高性能读写 NTFS------------2025.07.10------------#
CONFIG_PACKAGE_kmod-fs-ntfs3=y

#应用过滤
#CONFIG_PACKAGE_luci-app-appfilter=y

#SMB网络共享
CONFIG_PACKAGE_luci-app-cifs-mount=y

#Cloudflared隧道
CONFIG_PACKAGE_luci-app-cloudflared=y

#文件管理
CONFIG_PACKAGE_luci-app-filebrowser-go=y
#CONFIG_PACKAGE_luci-app-filemanager=y

#科学
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-app-v2raya=y
CONFIG_PACKAGE_luci-app-nekobox=y
#CONFIG_PACKAGE_luci-app-openclash=y

#luky
#CONFIG_PACKAGE_luci-app-lucky=y

#文件同步
CONFIG_PACKAGE_luci-app-syncthing=y
CONFIG_PACKAGE_luci-app-tailscale=y

#硬盘扩容
CONFIG_PACKAGE_luci-app-partexp=y
